/* Css header*/
#logo {
	height: 500px;
}
header {
	background-color: #14003d;
	padding: 20px 0;
}
.caixa {
	position: relative;
	width: 100%;
	margin: -20px;
	font-family: 'Audiowide', cursive;
}
nav {
	position: absolute;
	top: 200px ;
	right: 10%;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;

}

nav a:hover {
	color: #d305fd;
	text-decoration: underline;
	font-size: 25px;
	transition: 1s;
}

/* Css da página home */

.instal {
	width: 60%;
}

.titulo-principal {
	text-align: center;
	font-size: 5em;
	margin: 1em 0 1em;
	clear: left;
	font-family: 'Splash', cursive;
	color: #FFFFFF;
}

.principal {
	padding: 3em 2em;
	color: #FFFFFF;
	
}

.principal h2 {
	margin: 25px;
	font-size: 4em;
}

.principal p {
	margin: 0 0 1em;
	font-family: 'Audiowide', cursive;
	font-size: 25px;
}

.principal strong {
	font-weight: bold;
	color: #1abaff;
}

.principal em {
	font-style: italic;
	color: #1abaff;
}

.cyber {
	width: 600px;
	float: left;
	margin: 0 20px 20px 0;
	opacity: 0.5;

}

.cyber:hover {
	opacity: 1;
	transition: 1s;
}

.video {
	width: 700px;
	height: 400px;
	margin: 1em auto;
	box-shadow: 15px 15px 15px #000000
}

.vantagens {
	font-family: 'Splash', cursive;
	color: #14003d;
	padding: 6em;
	text-align: center;

}

.vantagens h4 {
	clear: right;
}


.itens {
	font-size: 4em;
	line-height: 1.5;
	padding: 1em 0 25px 0;
	display: block;
}

.subitens {
	font-size: 3em;
	line-height: 1.5;
	padding: 0 0 1em 0;
	font-family: 'Audiowide', cursive;
	color: #1abaff;
	vertical-align: middle;
	display: inline;

}

.subitens:nth-child(8) {
	color: #ff00e2;
}

.subitens:nth-child(11) {
	color: #ff00e2;
}

.imgvantagem {
	width: 600px;
	box-shadow: 20px 25px 15px #000000;
	opacity: 0.6;
	display: inline;
	padding: 1em 0 0 0;

}

.imgvantagem:hover {
	opacity: 1;
	transition: 1s;
}



.mapaconteudo {
	width: 940px;
	padding: 1em;
	text-align: center;
	margin: 0 auto;
}


.mapa p {
	font-size: 3em;
	text-align: center;
	font-family: 'Splash', cursive;
	color: #ff00e2;
	margin: 2em;
}

/* Css da página de pacotes*/

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos img {
	width: 250px;
}

.coruja {
	padding: 2em 0 2em 0;
}
.caveira {
	padding: 3em 0 4em 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 4px solid #14003d ;
	border-radius: 50px;
	opacity: 0.5;
}

.produtos li:hover {
	border-color: #ff00e2;
	opacity: 1;
	transition: 1s;
}

.produtos li:active {
	border-color: #1abaff;
}

.produtos li:hover h2 {
	font-size: 3em;
	transition: 1s;
	color: #1abaff;

}

.produtos h2 {
	font-size: 2em;
	font-weight: bold;
	font-family: 'Splash', cursive;
	color: #000000;
}

.produtos li:active h2 {
	color: #ff00e2;
}

.produto-des {
	font-size: 20px;
	font-family: 'Audiowide', cursive;
}

.produto-preco {
	font-weight: bold;
	font-size: 22px;
	margin-top: 10px;
	font-family: 'Audiowide', cursive;
}

/* Css da página de contatos */

#logo2 {
	height: 400px;
}

main {
	background: linear-gradient(#14003d, #ff00e2, #1abaff,#14003d );
}

Form {
	margin: 40px 0;
}

form label, form legend  {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

 .input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: pink;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
}

.enviar:hover {
	background: hotpink;
	transform: scale(1.2) translate(10px);

}

table {
	margin: 20px 40px;
}

thead {
	background: #14003d;
	color: white;
	font-weight: bolder;

}



td, th  {
	border: 1px solid #000000;
	padding: 8px 15px;
}


footer {
	text-align: center;
	color: #FFFFFF;
	background:  url(./assets/dragao.png);
	background-position: center;:
	padding: 0px 0;
	height: 417px;

}
.copyright {
	font-size: 13px;
	margin: 0px;
}

